# .gcloudignore
.gcloudignore
.git/
.gitignore
__pycache__/
*.py[cod]
*$py.class
*~
fire-venv/
fire-venv

# Or whatever your virtual environment folder is named  <--- THIS IS KEY

# Optional: Add other files/directories you don't want to deploy
# For example, local test outputs or large data files not needed by the function
*.test
*.png # If you have test images at the root you don't want to deploy
dummy_*.pth
# node_modules/ (if you had any)
# .vscode/
# .idea/
