# Requirements for the Incident Detector function
requests
pandas
google-cloud-storage
google-cloud-pubsub
geopandas
scikit-learn
shapely
hdbscan
earthengine-api
paramiko
openmeteo-requests
requests-cache
google-api-python-client
retry-requests
numpy
pytz # <-- ADD THIS LINE
