# Requirements for the Incident Detector function
requests
pandas
google-cloud-storage
google-cloud-pubsub
geopandas
scikit-learn
shapely
hdbscan
paramiko
openmeteo-requests
requests-cache
retry-requests
numpy
pytz
earthengine-api
scipy
